<div class="app-container">
  <app-header
    [title]="title()"
    [totalSteps]="totalSteps()"
    [isUnlockedAll]="isUnlockedAll()"
    [hasProgress]="hasAnyProgress()"
    (jumpToStep)="onJumpToStep($event)"
    (unlockAllToggle)="onUnlockAllToggle()"
    (resetProgress)="onOpenResetModal()"
  ></app-header>

  <div class="content-wrapper">
    <app-step-navigation
      [currentStepNumber]="currentStepIndex() + 1"
      [totalSteps]="totalSteps()"
      [canGoBack]="canGoBack()"
      [canGoNext]="canGoNext()"
      [progressPercentage]="progressPercentage()"
      (next)="onNextStep()"
      (previous)="onPreviousStep()"
    ></app-step-navigation>

    <app-steps-list
      [currentStep]="currentStep()"
      [currentStepNumber]="currentStepIndex() + 1"
      (toggleExpand)="onToggleStep($event)"
      (subTaskToggled)="onSubTaskToggle()"
    ></app-steps-list>
  </div>

  <app-footer
    [totalSteps]="totalSteps()"
  ></app-footer>

  <app-reset-modal
    [show]="showResetModal"
    (cancel)="onCloseResetModal()"
    (confirm)="onConfirmReset()"
  ></app-reset-modal>
</div>
